.input{
    height: 300px;
    max-height:150px;
    min-height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    outline: none;
    padding: 5px; 
    color: #555;
}
.output{
    height: 300px;
    max-height:150px;
    min-height: 100px;
    background-color: #ede6db8a;
    border-top: 1px solid rgba(128, 128, 128, 0.349);
    padding:5px;
}

