.container{
    height: 50px;
    width: 50px;
    background-color:#764AF1 ;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}